---
import JobIcon from '../components/icons/Job.astro'
import JobTitle from '../components/JobTitle.astro'
import Experiences from '../data/Experiences.json'
import ArrowIcon from '../components/icons/Arrow.astro'
import ExperienceButton from '../components/ExperienceButton.astro'
---

<section class='px-24' id='experience'>
  <h2 class='text-3xl flex items-center mb-6 gap-1'>
    <JobIcon class='size-8' />
    Experience
  </h2>
  <div id='accordion-open' data-accordion='open'>
    <ol class='relative border-s border-gray-200 dark:border-gray-700'>
      {
        Experiences.map((exp) => (
          <>
            <h2 id={`accordion-open-heading-${exp.id}`} class='mt-3 ms-6'>
              <ExperienceButton id={exp.id}>
                <span class='absolute flex items-center justify-center size-6 bg-blue-100 rounded-full -start-3 ring-8 ring-white dark:ring-gray-900 dark:bg-bush-400'>
                  <JobIcon class='text-blue-900 dark:text-bush-950 size-4' />
                </span>
                <div class='flex flex-col items-start'>
                  <JobTitle>
                    {exp.title} - {exp.company}
                    {exp.current && (
                      <span class='bg-blue-100 text-blue-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded dark:bg-bush-400 dark:text-bush-950 ms-3'>
                        Current
                      </span>
                    )}
                  </JobTitle>
                  <time class='block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500'>
                    {exp.startDate} -{' '}
                    {exp.current
                      ? 'Present'
                      : `${exp.endDate} · ${exp.timeAge}`}
                  </time>
                </div>
                <ArrowIcon data-accordion-icon class='w-3 h-3 shrink-0' />
              </ExperienceButton>
            </h2>
            <ul
              class='ms-6 ps-10 pb-4 list-disc text-pretty hidden mb-4 border border-gray-200 rounded-xl dark:border-gray-500 border-t-0 rounded-t-none'
              id={`accordion-open-body-${exp.id}`}
              aria-labelledby={`accordion-open-heading-${exp.id}`}
            >
              {exp.description.map((desc) => (
                <li>{desc}</li>
              ))}
            </ul>
          </>
        ))
      }
    </ol>
  </div>
</section>
