---
import JobIcon from '../components/icons/Job.astro'
import ExperienceTitle from '../components/Experience/ExperienceTitle.astro'
import Experiences from '../data/Experiences.json'
import ArrowIcon from '../components/icons/Arrow.astro'
import ExperienceButton from '../components/Experience/ExperienceButton.astro'
import ExperienceTime from '../components/Experience/ExperienceTime.astro'
---

<section class='flex w-full flex-col px-28' id='experience'>
  <h2
    class='mb-6 flex items-center justify-center gap-2 text-3xl dark:text-white'
  >
    <JobIcon class='size-8' />
    Experience
    <JobIcon class='size-8' />
  </h2>
  <div id='accordion-open' data-accordion='open' class='w-full'>
    <ol class='relative border-s border-gray-200 dark:border-gray-700'>
      {
        Experiences.map((exp) => (
          <>
            <h2 id={`accordion-open-heading-${exp.id}`} class='ms-6 mt-3'>
              <ExperienceButton id={exp.id}>
                <span class='absolute -start-3 flex size-6 items-center justify-center rounded-full bg-blue-100 ring-8 ring-white dark:bg-bush-400 dark:ring-gray-900'>
                  <JobIcon class='size-4 text-blue-900 dark:text-bush-950' />
                </span>
                <div class='flex flex-col items-start'>
                  <ExperienceTitle>
                    {exp.title} - {exp.company}
                    {exp.current && (
                      <span class='me-2 ms-3 rounded bg-blue-100 px-2.5 py-0.5 text-sm font-medium text-blue-800 dark:bg-bush-400 dark:text-bush-950'>
                        Current
                      </span>
                    )}
                  </ExperienceTitle>
                  <ExperienceTime
                    startDate={exp.startDate}
                    current={exp.current}
                    endDate={exp.endDate}
                    timeAge={exp.timeAge}
                  />
                </div>
                <ArrowIcon data-accordion-icon class='h-3 w-3 shrink-0' />
              </ExperienceButton>
            </h2>
            <ul
              class='mb-4 ms-6 hidden list-disc text-pretty rounded-lg rounded-t-none border border-t-0 border-gray-200 pb-4 ps-10 dark:border-gray-500 dark:text-white'
              id={`accordion-open-body-${exp.id}`}
              aria-labelledby={`accordion-open-heading-${exp.id}`}
            >
              {exp.description.map((desc) => (
                <li>{desc}</li>
              ))}
            </ul>
          </>
        ))
      }
    </ol>
  </div>
</section>
