---
import JobIcon from '../components/icons/Job.astro'
import ExperienceTitle from '../components/Experience/ExperienceTitle.astro'
import Experiences from '../data/Experiences.json'
import ArrowIcon from '../components/icons/Arrow.astro'
import ExperienceButton from '../components/Experience/ExperienceButton.astro'
import ExperienceTime from '../components/Experience/ExperienceTime.astro'
---

<section
  class='flex scroll-mt-24 flex-col px-8 md:w-full lg:px-28'
  id='experience'
>
  <h2 class='mb-6 flex items-center justify-center gap-2 text-3xl text-white'>
    <JobIcon class='size-8' />
    Experience
    <JobIcon class='size-8' />
  </h2>
  <div id='accordion-open' data-accordion='open' class='w-full'>
    <ol class='relative flex flex-col gap-5 border-s border-gray-700'>
      {
        Experiences.map((exp) => (
          <li>
            <h2 id={`accordion-open-heading-${exp.id}`} class='ms-6 mt-3'>
              <ExperienceButton id={exp.id}>
                <span class='absolute -start-3 flex size-6 items-center justify-center rounded-full bg-bush-400 ring-8 ring-gray-900'>
                  <JobIcon class='size-4 text-bush-950' />
                </span>
                <div class='flex flex-col items-start'>
                  <ExperienceTitle>
                    {exp.title} - {exp.company}
                    {/* {exp.current && (
                      <span class='me-2 ms-3 rounded bg-bush-400 px-2.5 py-0.5 text-sm font-medium  text-bush-950'>
                        Current
                      </span>
                    )} */}
                  </ExperienceTitle>
                  <ExperienceTime
                    startDate={exp.startDate}
                    current={exp.current}
                    endDate={exp.endDate}
                    timeAge={exp.timeAge}
                  />
                </div>
                <ArrowIcon class='h-3 w-3 text-white' />
              </ExperienceButton>
            </h2>
            <ul
              class='mb-4 ms-6 hidden list-disc text-pretty rounded-lg rounded-t-none border border-t-0 border-gray-500 pb-4 pr-2 ps-10 text-white'
              id={`accordion-open-body-${exp.id}`}
              aria-labelledby={`accordion-open-heading-${exp.id}`}
            >
              {exp.description.map((desc) => (
                <li>{desc}</li>
              ))}
            </ul>
          </li>
        ))
      }
    </ol>
  </div>
</section>
