---
import About from './About.astro'
import Experience from './Experience.astro'
import Header from './Header.astro'
import Projects from './Projects.astro'
import '@fontsource-variable/onest'

interface Props {
  title: string
  description: string
}

const { title, description } = Astro.props
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />

    <title>{title}</title>
    <meta name='description' content={description} />
    <meta name='author' content='Alonso Garay' />
    <meta
      name='keywords'
      content='fullstack, developer, typescript, javascript, java, webapp, portfolio'
    />

    <!-- Facebook Meta Tags -->
    <meta property='og:url' content='https://alonsogaray.com' />
    <meta property='og:type' content='website' />
    <meta property='og:title' content={title} />
    <meta property='og:description' content={description} />
    <meta property='og:image' content='https://alonsogaray.com/og.png' />

    <!-- Twitter Meta Tags -->
    <meta name='
      twitter:card' content='summary_large_image' />
    <meta property='twitter:domain' content='alonsogaray.com' />
    <meta property='twitter:url' content='https://alonsogaray.com' />
    <meta name='twitter:title' content={title} />
    <meta name='twitter:description' content={description} />
    <meta name='twitter:image:src' content='https://alonsogaray.com/og.png' />

    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <script>
      if (
        localStorage.getItem('color-theme') === 'dark' ||
        (!('color-theme' in localStorage) &&
          window.matchMedia('(prefers-color-scheme: dark)').matches)
      ) {
        document.documentElement.classList.add('dark')
      } else {
        document.documentElement.classList.remove('dark')
      }
    </script>
  </head>
  <body
    class='m-auto flex max-w-screen-xl flex-col gap-16 dark:bg-cod-gray-950'
  >
    <Header />
    <About />
    <Experience />
    <Projects />
    <slot />
    <script
      is:inline
      src='https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js'
    ></script>
  </body>
</html>
<style is:global>
  html {
    font-family: 'Onest Variable', sans-serif;
  }
</style>
