---
import CodeIconOpen from '../components/icons/OpenCode.astro'
import CodeIconClose from '../components/icons/CloseCode.astro'
import ProjectsArray from '../data/Projects.json'
import Github from '../components/icons/Github.astro'
import ExternalLink from '../components/icons/ExternalLink.astro'
---

<section class='flex w-full flex-col px-8 lg:px-28' id='projects'>
  <h2
    class='mb-6 flex items-center justify-center gap-2 text-3xl dark:text-white'
  >
    <CodeIconOpen class='size-8' />
    Projects
    <CodeIconClose class='size-8' />
  </h2>
  <article class='grid grid-cols-1 items-start gap-8 md:grid-cols-3'>
    {
      ProjectsArray.map((pro) => (
        <div class='mx-auto flex flex-col md:justify-center'>
          <a
            href={pro.externalUrl}
            target='_blank'
            class='transition hover:scale-105'
          >
            <img
              class='w-full rounded-xl'
              loading='lazy'
              src={pro.image}
              alt={pro.title}
            />
          </a>

          <div class='flex w-full flex-col px-2 pt-5'>
            <div class='flex justify-between'>
              <h3 class='text-pretty text-lg font-bold dark:text-white lg:text-xl'>
                {pro.title}
              </h3>
              <div class='flex space-x-2'>
                <a href={pro.github} target='_blank'>
                  <Github class='text-lochmara-800' />
                </a>
                {pro.externalUrl && (
                  <a href={pro.externalUrl} target='_blank'>
                    <ExternalLink class='text-lochmara-800' />
                  </a>
                )}
              </div>
            </div>
            <p class='text-md text-pretty text-left text-cod-gray-500 lg:text-lg'>
              {pro.description}
            </p>
          </div>
        </div>
      ))
    }
  </article>
</section>
